.NewPostPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* min-height: 100vh; */
  margin-bottom: 2rem;
  gap: 4rem;
}

.file {
  margin-bottom: 2rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  display: block;
  content: '';
  height: 0px;
  padding-bottom: 100%;
}

@media (max-width: 40rem) {
  .NewPostPage {
    grid-template-columns: 1fr;
  }

  .NewPostPage::after {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
