.navbar {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  top: 0px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 10rem;
}

.links {
  display: flex;
  gap: 10px;
}

.links a:hover {
  color: #f1b252;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  color: #141414;
  display: flex;
  align-items: center;
}

.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../../../public/login.svg') no-repeat center center;
  margin-left: 0.5rem;
}

.menu-icon {
  width: 5vw;
}

@media (max-width: 40rem) {
  .navbar-container {
    padding: 0 1rem;
  }
}
