.error-message {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

form {
  margin-bottom: 2rem;
}

.create-account {
  margin-top: 4rem;
}

.create-account .button {
  font-weight: 300;
}

.create-account p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 100;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

label {
  font-weight: 300;
}

.subtitle::after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.lost-password {
  display: inline-block;
  color: #666;
  width: 9rem;
  padding: 0.5rem 0;
  line-height: 1;
  font-weight: 100;
}

.lost-password::after {
  content: '';
  height: 1px;
  width: 100%;
  background: currentColor;
  display: block;
}

div.wrapper-input {
  margin-bottom: 1rem;
}

.LoginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.LoginPage::before {
  display: block;
  content: '';
  background: url('../../../public/login-photo.jpg') no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.forms button {
  margin-top: 1rem;
  font-weight: 500;
}

@media (max-width: 40rem) {
  .LoginPage {
    grid-template-columns: 1fr;
  }

  .LoginPage::before {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
