.PostPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 10rem;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  background: white;
  max-height: 41rem;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.post-intro {
  display: flex;
  justify-content: space-between;
  margin: 2rem 10rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  align-items: center;
}

.buttons a,
.buttons button {
  cursor: pointer;
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
}

.buttons a:hover,
.buttons a:focus,
.buttons button:hover,
.buttons button:focus,
.buttons img:hover,
.buttons img:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  outline: none;
}

.back {
  background: #eee;
  border-radius: 0.2rem;
  padding: 0.38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
}

.photo {
  object-fit: cover;
  max-height: 40rem;
  min-height: 25rem;
  width: 100%;
  align-self: center;
}

.edit-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-info h2 {
  font-weight: 700;
}

.post-info span {
  font-weight: 300;
}

.post-custom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.edit-buttons button,
.btn-edit {
  background: #eee;
  border-radius: 0.2rem;
  color: #616161;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  font-weight: 300;
}

.edit-form input {
  font-weight: 300;
}

.post-form {
  margin: 1rem 0;
}

.post-form form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-details {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-newcomment {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  /* margin: 1rem; */
}

.post-newcomment input {
  font-weight: 300;
}

.post-newcomment img:hover {
  filter: invert(85%) sepia(3%) saturate(7018%) hue-rotate(328deg)
    brightness(98%) contrast(90%);
  cursor: pointer;
}

.btn-comment {
  cursor: pointer;
  background: none;
  border: none;
  width: 3.5rem;
  margin-left: 1rem;
}

.btn-comment:hover,
.btn-comment:focus {
  padding-bottom: 0.5px;
}

.edit-buttons .btn-delete:focus,
.edit-buttons .btn-delete:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgb(255, 177, 170);
  outline: none;
  border-color: rgb(204, 3, 3);
  color: rgb(204, 3, 3);
}

.btn-edit:focus,
.btn-edit:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
  outline: none;
  border-color: #fb1;
  color: #fb1;
}

.edit-buttons button:hover,
.edit-buttons button:focus {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
  outline: none;
  border-color: #fb1;
  color: #252525;
}

.comments-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-trash {
  cursor: pointer;
  background: none;
  border: none;
  width: 2.5rem;
  margin-left: 1rem;
}

.btn-trash:hover {
  /* padding-bottom: 0.5px; */
  filter: invert(85%) sepia(3%) saturate(7018%) hue-rotate(328deg)
    brightness(98%) contrast(90%);
  cursor: pointer;
}

.views-post::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url('../../../public/views-black.svg');
}

.post-author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
}

.post-author:hover {
  text-decoration: underline 0.5px;
  margin-left: -1px;
}

.post-comments {
  overflow-y: auto;
  word-break: break-all;
  max-height: 10rem;
}

.post-comments span {
  font-weight: 300;
}

.post-comments b {
  font-weight: 500;
}

.post-comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.description {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.date {
  margin: 0 10rem 1rem 10rem;
}

.created-date {
  font-size: 0.8rem;
  font-weight: 100;
}

.likes {
  gap: 5px;
  align-self: center;
  margin-bottom: 1.5rem;
  border-top: solid #ddd;
  margin-top: 2rem;
  padding-top: 0.5rem;
  font-weight: 300;
}

.likes:focus,
.likes:hover {
  cursor: pointer;
  padding-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.like-btn {
  padding: 0;
}

/* responsive */
@media screen and (max-width: 64rem) {
  .PostPage {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow: scroll;
    grid-template-columns: minmax(20rem, 40rem);
    border-radius: none;
    border: none;
    /* margin: auto; */
    max-width: 50rem;
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto;
  }

  .post-details {
    overflow: unset;
  }

  .photo {
    grid-row: 1;
  }

  .post-intro {
    margin: 0 1rem;
    padding-bottom: 2rem;
  }

  .date {
    /* margin: auto 1.5rem 1rem auto; */
    margin: 0 1rem;
    padding-bottom: 2rem;
  }

  .likes {
    align-self: flex-end;
    margin-bottom: 0.5rem;
    margin-top: -3rem;
    padding-top: 0.5rem;
  }
}
